{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>

<ul>
    <li>Type : {{ listing.get_type_display }}</li>
    <li>Année : {{ listing.year }}</li>
    <li>Vendu : {{ listing.sold|yesno }}</li>
    {% if listing.official_homepage %}
        <li><a href="{{ listing.official_homepage }}">{{ listing.official_homepage }}</a></li>
    {% endif %}
    <li>Groupe : {{ listing.band }}</li>
</ul>

<p>{{ listing.description }}</p>

<a href="{% url 'listing-update' listing.id %}">Modifier cet affiche</a>
<a href="{% url 'listing-list' %}">Retour à toutes les affiches</a>

{% endblock %}